nav.navbar.navbar-default.navbar-static-top
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar      
      a#menu-toggle.btn.btn-secondary.navbar-brand(href='#menu-toggle') Models
      a.navbar-brand(href='/') Domain Model Management
