extends layout

block content
  #wrapper.container-fluid
    include includes/sidebar
    #page-content-wrapper
        .container-fluid
          h1.model-title Create New Model
          if messages.error
            .alert.alert-danger(role='alert')
              for error in messages.error
                div= error.msg
          if messages.success
            .alert.alert-success(role='alert')
              for success in messages.success
                div= success.msg
          if messages.info
            .alert.alert-info(role='alert')
              for info in messages.info
                div= info.msg
          .notifications.top-right      
          .row                            
            include includes/screen
